.products-container {
    // padding: 10vw 7vw 1vw 7vw;
    padding-top: 8vw;


    @keyframes press {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(0.92);
        }

        to {
            transform: scale(1);
        }
    }

    h1 {
        color: var(--text-color);
        font-family: Lobster, sans-serif;
        // padding: 3rem 0;
        margin-bottom: 3rem;
        text-align: center;
    }

    .products-slider {

        .swiper {
            width: 100%;
            height: 300px;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: var(--background-color);

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .slide-1,
        .slide-2,
        .slide-3,
        .slide-4,
        .slide-5,
        .slide-6 {
            background-size: cover;
            background-position: top;
            position: relative;

            h4 {
                position: absolute;
                bottom: 1rem;
                z-index: 1;
                color: var(--text-color);
            }

            .bg-black-trans {
                background: linear-gradient(rgba(0, 0, 0, 1), rgba(25, 25, 25, 0));
                width: 100%;
                height: 84px;
                position: absolute;
                bottom: 0;
                transform: rotate(180deg);
            }
        }
    }

    .products-wrapper {
        padding: 7vw;
        display: flex;
        gap: 1rem;

        .products-filters {
            user-select: none;
            padding: 15px;
            width: 22%;
            height: fit-content;
            background-color: rgba(183, 218, 255, 0.25);
            border: 1px solid rgba(255, 255, 255, 0.18);
            border-radius: 5px;
            color: var(--text-color);

            .MuiFormControl-root {
                margin: 0 !important;
            }

            .MuiFormGroup-root {
                margin-top: 10px;
            }

            .MuiFormControlLabel-label {
                &:hover {
                    color: var(--color-blue);
                }
            }

            .category {
                .sub-category {
                    display: inline-grid;
                }
            }

            .showMore {
                cursor: pointer;
                margin-top: 5px;
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: 600;

                .icon {
                    margin-right: 5px;
                }
            }

            .company {
                .sub-company{
                    display: inline-grid;
                }
            }

            .price {

                .price-show {
                    display: flex;
                    gap: 5px;
                    color: var(--color-blue);
                    font-size: 18px;
                    font-weight: 600;
                }

                .price-filter-btn {
                    margin-top: 15px;
                    padding: 8px;
                    background-color: rgba(183, 218, 255, 0.25);
                    border: 1px solid rgba(255, 255, 255, 0.18);
                    border-radius: 5px;
                    width: fit-content;
                    font-weight: 600;
                    text-transform: uppercase;
                    cursor: pointer;

                    &:active {
                        animation: press 0.2s 1 linear;

                    }
                }
            }

        }

        .products-lists {
            padding: 15px;
            flex-grow: 1;
            height: fit-content;
            color: var(--text-color);
            background-color: rgba(183, 218, 255, 0.25);
            border: 1px solid rgba(255, 255, 255, 0.18);
            border-radius: 5px;
        }
    }

}