/* ====== Hero Section ========= */
.banner {
    background-image: url(../../data/backgroundbanner.jpg);
    background-size: cover;
    background-position: center top;
    width: 100%;
    position: relative;
}

.banner .container {
    height: 100vh;
}