:root {
    --text-color: #e5e5e5;
}

.banner {
    background-color:#1e332b;
    background-image: url('../../data/backgroundbanner.jpg');

    background-size: cover;
    width: 100%;
    position: relative;
}

.banner-container {
    position: relative;
    left: 10vw;
    width: calc(100% - 20vw);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* banner left */

.banner-left {
    color: var(--text-color);
    width: 50%;
    /* line-height: 1.2; */
    letter-spacing: 1px;
}

.banner-left .banner-info h2{
    font-size: 5.5vw;
    font-family: 'Lobster', cursive;
}

.banner-left .banner-info p{
    margin-top: 20px;
    font-size: 1.5rem;
}

.banner-left .banner-info a {
    color: #dddd;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.banner-left .banner-info .info-btn{
    margin-top: 2.5rem;
    user-select: none;
    /* cursor: pointer; */
    padding: 10px;
    width: fit-content;
    backdrop-filter: blur(5px);
    border-radius: 26px;
    box-shadow: 20px 0px 68px 0px rgba(145, 192, 255, 0.5), 
    inset -8px -8px 16px 0px rgba(145, 192, 255, 0.6), 
    inset 0px 11px 28px 0px rgb(255, 255, 255);
    transition: 0.5s;
}

.banner-left .banner-info .info-btn:hover {
    animation: hoverButton 0.5s ease infinite alternate;
}

@keyframes hoverButton {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* banner right */

.banner-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* width: 100vh; */
    pointer-events: auto !important;
}

.banner-right .banner-img {
    height: 30rem;
    width: 20rem;
    background-size: cover;
}

.layer2 {
    height: 10rem;
    width: 14rem;
    background-size: cover;
    position: absolute;
    z-index: -1;
    left: 25vw !important;
    top: 20vw !important;
    backdrop-filter: blur(5px);
    border-radius: 26px;
    box-shadow: 20px 0px 68px 0px rgba(145, 192, 255, 0.5), 
    inset -8px -8px 16px 0px rgba(145, 192, 255, 0.6), 
    inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.layer3{
    height: 4rem;
    width: 4rem;
    background-size: cover;
    position: absolute;
    z-index: 3;
    left: 10vw !important;
    top: 2vw !important;
    backdrop-filter: blur(5px);
    border-radius: 50%;
    box-shadow: 20px 0px 68px 0px rgba(145, 192, 255, 0.5), 
    inset -8px -8px 16px 0px rgba(145, 192, 255, 0.6), 
    inset 0px 11px 28px 0px rgb(255, 255, 255);
    cursor: pointer;
}

.wave {
    animation: wave 4s 0.1s infinite linear;
}

@keyframes wave {
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
        -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
        -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    }
}


/* RESPONSIVE */


@media screen and (max-width: 1200px) {

    .layer2 {
        height: 7rem;
        width: 10rem;
        z-index: 3;
        left: 20vw !important;
        top: 28vw !important;
    }

    .layer3{
        height: 3.5rem;
        width: 3.5rem;
        left: 5vw !important;
        top: 0vw !important;
    }

    .banner-left .banner-info h2{
        font-size: 3em;
        font-family: 'Lobster', cursive;
    }

    .banner-left .banner-info p{
        margin-top: 20px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 860px) {

    .layer2 {
        height: 5rem;
        width: 8rem;
        z-index: 3;
        left: 23vw !important;
        top: 25vw !important;
    }

    .banner-left .banner-info h2{
        font-size: 2em;
        font-family: 'Lobster', cursive;
    }

    .banner-left .banner-info p{
        margin-top: 20px;
        font-size: 1rem;
    }

    .banner-right .banner-img{
        height: 20rem;
        width: 13rem;
        background-size: cover;
    }
}

@media screen and (max-width: 600px) {

    .layer2 {
        height: 5rem;
        width: 8rem;
        z-index: 3;
        left: 40vw !important;
        top: 35vw !important;
    }

    .layer3{
        height: 3rem;
        width: 3rem;
        left: 15vw !important;
        top: 5vw !important;
    }

    .banner-container {
        position: relative;
        left: 10vw;
        width: calc(100% - 20vw);
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .banner-left {
        color: var(--text-color);
        width: 100%;
        letter-spacing: 1px;
    }

    .banner-left .banner-info h2{
        font-size: 2em;
        font-family: 'Lobster', cursive;
    }

    .banner-left .banner-info p{
        margin-top: 20px;
        font-size: 1rem;
    }

    .banner-right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .banner-right .banner-img {
        margin-top: 3rem;
        margin-bottom: 9vw;
    }

    .banner-right .banner-img{
        height: 15rem;
        width: 10rem;
        background-size: cover;
    }

    .banner-left .banner-info a {
        font-size: 0.8rem;
        color: #dddd;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
    }

    .banner-left .banner-info .info-btn{
        margin-top: 1rem;
        user-select: none;
        cursor: pointer;
        padding: 10px;
        width: fit-content;
        backdrop-filter: blur(5px);
        border-radius: 26px;
        box-shadow: 35px 35px 68px 0px rgba(145, 192, 255, 0.5), 
        inset -8px -8px 16px 0px rgba(145, 192, 255, 0.6), 
        inset 0px 11px 28px 0px rgb(255, 255, 255);
        transition: 0.5s;
    }
}

